doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='./css/core.css')
    title Liz Earle UI Pattern Library
  body
    h1 Heading
    p The quick brown fox jumps over the lazy dog
