section
  ul.main-nav.row
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Alerts
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Buttons & links
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Colours
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Filter, sort & pagination
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Forms
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Icons
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Logo
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Modal windows
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Products
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Stickers
    li.col-md-3.col-sm-4.col-6
      a.main-nav--link(href='#') Typography
    
